# Build artifacts
Debug/
Release/
*.elf
*.hex
!simulation/*.hex
!Simulation/*.hex
!Test Modules/Simulation/*.hex
*.eep
*.lss
*.map
*.srec
*.o
*.d
makedep.mk

# IDE files
.vs/
*.atsuo
*.componentinfo.xml
*.workspace
*.cproj
*.atsln
!traffic_light.atsln

# Proteus backup files
*.pdsbak

# OS
.DS_Store
Thumbs.db
